.canvas {
  border: 1px black solid;
  position: absolute;
  
  /* top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; */
  border-radius: 15px;
  position: absolute;
  box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 30%);
}

#canvas-draft {
  background-color: transparent;
}
#canvas-container {
  height: 750px;
}





.buttons {
  background-color: #3e8ad1; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
img {
width: 40px;
  height: 40px;
}

.eraser-setting{
  display: none;
}
